/* comentarios en CSS*/
/* Selectores*/

body{
    background-color: #3498db;
   



}

p{
    color: green;
    background-color: yellow;
}
h1{
    background-color: blueviolet;
    width: 400px;/* unidad fija */
    height: 20vh;/* alto de un elemento */
}


/* selectores de clase*/
/*.nombreDeLaClase */

.textoRojo{
    color: red;
}

.letras{
    /* propiedades*/
    color: blue;
}


/* selectores por id*/

#unTexto{
    background-color: aquamarine;
}

img{
    /*width: 50%;/* width: ancho de un elemento*/
    height: 100vh;
}

ul{
    width: 800px;
    height: 100px;
    background-color: red;
}
li{
    width: 50%;/* seria el 50% del padre (ul)=400px */
    height: 25%;
    background-color: violet;
}

div{
    width: 300px;
    height: 200px;
    background-image: url(../Clase2/imagenes/pexels-lisa-fotios-3632658.jpg);



}

.imgDiv{
    width: 100%;
}

/* UNIDADES
    -Porcentaje (%): toma como 100% la medida del padre, para saber cuanto valdrá del hijo
*/
/* 25vh -> vh (view height): 25% del alto de la pantalla
    50vw -> vh (view width): 50% del ancho de la pantalla  */